body {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #dedede;
}

.gameboard {
  width: 100vh;
  max-width: 60vh;
  height: 100vh;
  max-height: 60vh;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.color {
  display: inline-block;
  width: 50%;
  height: 50%;
}
.left {
  float: left;
}
.right {
  float: left;
}

.sky {
  background: #22a6b3;
}
.violet {
  background: #be2edd;
}
.orange {
  background: #f0932b;
}
.green {
  background: #6ab04c;
}

.sky.light {
  background: #7ed6df;
}
.violet.light {
  background: #e056fd;
}
.orange.light {
  background: #ffbe76;
}
.green.light {
  background: #badc58;
}

.btn-start {
  position: absolute;
  width: 400px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  cursor: pointer;
}
.hide {
  display: none;
}
